OPENROUTER_API_KEY= "YOUR OPENROUTER API"
QDRANT_URL= "YOUR QDRANT CLOUD ENDPOINT"
QDRANT_API_KEY= "YOUR QRANT API"

LLM_MODEL=openrouter/free

QDRANT_COLLECTION=docmind_documents

EMBEDDING_MODEL=liquid/lfm-2.5-embedding-350m:free
EMBEDDING_DIMENSION=1024