OPENROUTER_API_KEY= "YOUR OPENROUTER API"
QDRANT_URL= "YOUR QDRANT CLOUD ENDPOINT"
QDRANT_API_KEY= "YOUR QRANT API"

LLM_MODEL=openrouter/free

QDRANT_COLLECTION=docmind_documents

EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
EMBEDDING_DIMENSION=384